/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "compass";

$base-font-size: 16px;
$base-line-height: 24px;

@include establish-baseline;

$base-link-color: #00f;

a {
  color: $base-link-color;
}

a:visited {
  // This reduces the lightness of the color (in HSL terms) 
  // by 50%, leaving hue and saturation alone
  color: darken($base-link-color, 20%);
}

a:hover {
  // This increases the lightness of the color (in HSL terms) 
  // by 50%, leaving hue and saturation alone
  color: lighten($base-link-color, 20%);
}

figcaption {
  // Generates an rgba() color value with 50% opacity
  background-color: transparentize(#fff, 0.5);
}