// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the example controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





#container {
  margin: 10px auto;
  padding: 5px;
  width: 800px;
  background-color: #eee;

  // If the device is narrower than 940px, switch to a fluid layout
  @media screen and (max-width:940px) {
    width: auto;
  }

  #main-content {
    width: 600px;
    margin: 10px auto;
    padding: 5px;
    background-color:lighten(red, 30%);
    @media screen and (max-width:940px) {
      width: 63.8%;
    }
  }
}